@mixin registerSettings {
  align-items: center;
  justify-content: center;
}

.register {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  @include registerSettings();
}

.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerLogo {
  font-size: 50px;
  font-weight: 500;
  color: #495057;
  margin-bottom: 10px;
}

.registerDescription {
  font-size: 24px;
}

.registerBox {
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registerInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #495057;
  font-size: 18px;
  padding-left: 20px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(141, 202, 255);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.registerLoginButton {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: rgb(76, 191, 128);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
