.login {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 500;
  color: #495057;
  margin-bottom: 10px;
}

.loginDescription {
  font-size: 24px;
}

.loginBox {
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #495057;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(141, 202, 255);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginButton:focus {
  outline: none;
}

.loginButton:disabled {
  cursor: not-allowed;
}

.loginForgotPassword {
  text-align: center;
  color: #495057;
}

.loginRegisterButton {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: rgb(76, 191, 128);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
