.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #495057;
  border-radius: 3px;
}

.chatMenuInput:focus {
  outline: none;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-self: space_between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(76, 191, 128);
  font-weight: 500;
  font-size: 18px;
}

.chatOnline {
  flex: 3.5;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  background-color: aliceblue;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 15%;
  font-size: 50px;
  color: #495057;
  text-align: center;
  cursor: default;
}
