ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: #495057;
    margin-top: 5px;
    font-size: 18px;
}
.searchlistItem {
    display: flex;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    align-items: center;
}

.searchlistImg {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    object-fit: cover;
    margin-right: 5px;
}
